/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');



@font-face {
  src: url('fonts/grafk.ttf') format('truetype');
  font-family: 'grafk';
}




@font-face {
  src: url('fonts/MiFuente-Regular.ttf') format('truetype');
  font-family: miFuente;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fdfdfd;
  color: #111;
}

@keyframes aparecerTitulo {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* HEADER */
h1 {
  font-family: 'grafk', sans-serif;
  font-size: 4rem;
  font-weight: normal; 
  text-align: center;
  animation: aparecerTitulo 2s ease-in-out;
  color: #0071fa;
  
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: #ccccc6;
  animation: aparecerTitulo 1s ease-in-out;
}




header {
  background: #000000;
  text-align: center;
  padding: 20px;

}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
}

/* GALERÍA - GRID */
.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}

.galeria-grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
}

.galeria-grid img:hover {
  transform: scale(1.05) rotate(1deg);
}

/* SERVICIOS - FLEX */
.servicios-flex {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: #ccccc6;
}

.servicio {
  background: #0071fa;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  animation: aparecer 3s ease-in-out;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


/* CONTACTO */
#contacto {
  text-align: center;
  padding: 30px;
  background: #030405;
  color: white;
}


#contacto a,
#contacto a:visited {
  color: white;
  text-decoration: none; 
}

#contacto a:hover {
  color: #fcfcfc; 
  text-decoration: underline;
}


/* FOOTER */
footer {
  background: #0071fa;
  color: white;
  text-align: center;
  padding: 10px;
}
